.para1{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Lato-Bold', 'Lato' ,'Arial' ,sans-serif ;
 font-size: 28px; 
 font-weight:700; 
 color: #EDEFEF;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style6{font-family:  'Gudea' ;
 font-size: 14px; 
 color: #595959;
 background-color: #FEFFFF; 
 letter-spacing: 0.18em; 
 word-wrap: break-word;}